.search {
    position: absolute;
    top: 38%;
    left: 75%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    z-index: 10;
  }

  .search input {
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
  }

  .locate {
    position: absolute;
    top: 3rem;
    right: 1rem;
    background: none;
    border: none;
    z-index: 10;
  }
  .locate img {
    width: 30px;
    cursor: pointer;
  }

  .maps {
    display: flex;
  }

  .locate{
    right: 50%;
  }