.pilotdiv{
    width: 50%;
    justify-content: center;
    align-items: center;
}

.PilotImg{
    width: 50%;
    object-fit: contain;
}

.fly_duration {
    width: 50%;
}

.finalSubmit{
    /* width: 10%;
    justify-content: center; */
}

@media (max-width:900px){
    .PilotImg{
        display: none;
    }

    .pilotdiv{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}